/* C&C Red Alert 1 Theme - Green Terminal / Military HUD */

/* Main stylesheet using CSS @import */

@import url('./src/variables.css');
@import url('./src/base.css');
@import url('./src/accessibility.css');
@import url('./src/layout.css');
@import url('./src/components.css');
@import url('./src/navigation.css');
@import url('./src/favorites.css');
@import url('./src/toast.css');
@import url('./src/install.css');
@import url('./src/effects.css');
@import url('./src/responsive.css');
