/* C&C Red Alert 1 Theme - Green Terminal / Military HUD */

/* Main stylesheet using CSS @import */

@import url('./variables.css');
@import url('./base.css');
@import url('./accessibility.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./navigation.css');
@import url('./favorites.css');
@import url('./toast.css');
@import url('./install.css');
@import url('./effects.css');
@import url('./responsive.css');
